#/junit5/junit5-asserts/target/
#/junit5/junit5-breakpuzzles/target/
#/junit5/junit5-cucumber/target/
#/junit5/junit5-docker/target/
#/junit5/junit5-extension/target/
#/junit5/junit5-jqwik/target/
#/junit5/junit5-jupiterassertions/target/
#/junit5/junit5-managing/target/
#/junit5/junit5-mock/target/
#/junit5/junit5-parameter/target/
#/junit5/junit5-practice/target/
#/junit5/junit5-practicesolutions/target/
#/junit5/junit5-special/target/
#/junit5/junit5-spring/target/
#/junit5/junit5-structure/target/
#/junit5/junit5-tag/target/
#/junit5/junit5-tdd/target/
#/junit5/junit5-template/target/
#/junit5/junit5-testfactory/target/
#/junit5/junit5-version57/target/
*.project
**/.idea
**/.gradle
**/*.iml
**/.settings/*
**/.classpath
**/*.class
**/target/
